@model DbFirst.Models.ODLN

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ODLN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DocNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CANCELED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANCELED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Handwrtten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Handwrtten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Printed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Printed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvntSttus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvntSttus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transfered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transfered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObjType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocDueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocDueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumAtCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumAtCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VatPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VatPercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VatSum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VatSum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VatSumFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VatSumFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscPrcnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscPrcnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscSum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscSum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscSumFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscSumFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocCur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocCur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocTotalFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocTotalFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidToDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidToDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrosProfit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrosProfit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrosProfFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrosProfFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ref1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ref1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ref2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ref2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JrnlMemo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JrnlMemo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiptNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiptNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SlpCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlpCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrnspCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrnspCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartSupply)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartSupply)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Confirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Confirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrossBase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrossBase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImportEnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImportEnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTran)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTran)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SummryType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SummryType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdInvnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdInvnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdCardBal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdCardBal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flags)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvntDirec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvntDirec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CntctCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CntctCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowSCN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowSCN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SysRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SysRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurSource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurSource)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VatSumSy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VatSumSy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscSumSy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscSumSy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocTotalSy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocTotalSy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidSys)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidSys)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrosProfSy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrosProfSy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsICT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsICT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VolUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VolUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeightUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeightUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Series)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Series)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Filler)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filler)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSource)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StampNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StampNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isCrin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isCrin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinncPriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinncPriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserSign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserSign)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.selfInv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.selfInv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VatPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VatPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VatPaidFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VatPaidFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VatPaidSys)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VatPaidSys)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserSign2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserSign2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WddStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WddStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.draftKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.draftKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalExpns)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalExpns)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalExpFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalExpFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalExpSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalExpSC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DunnLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DunnLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogInstanc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogInstanc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exported)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exported)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indicator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indicator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetProc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetProc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AqcsTax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AqcsTax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AqcsTaxFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AqcsTaxFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AqcsTaxSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AqcsTaxSC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CashDiscPr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashDiscPr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CashDiscnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashDiscnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CashDiscFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashDiscFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CashDiscSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashDiscSC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipToCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipToCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicTradNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicTradNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WTSum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WTSum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WTSumFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WTSumFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WTSumSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WTSumSC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoundDif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoundDif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoundDifFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoundDifFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoundDifSy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoundDifSy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckDigit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckDigit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Form1099)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Form1099)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Box1099)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Box1099)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.submitted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.submitted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoPrss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoPrss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rounding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rounding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevisionPo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevisionPo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Segment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Segment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReqDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReqDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CancelDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CancelDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pick)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pick)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlockDunn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlockDunn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeyMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeyMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayBlock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayBlock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayBlckRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayBlckRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxDscn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxDscn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reserve)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reserve)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Max1099)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Max1099)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CntrlBnk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CntrlBnk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickRmrk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickRmrk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISRCodLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISRCodLine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpAppl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpAppl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpApplFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpApplFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpApplSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpApplSC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeferrTax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeferrTax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LetterNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LetterNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WTApplied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WTApplied)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WTAppliedF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WTAppliedF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoeReserev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoeReserev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgentCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WTAppliedS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WTAppliedS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquVatSum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquVatSum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquVatSumF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquVatSumF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquVatSumS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquVatSumS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Installmnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Installmnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VATFirst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VATFirst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NnSbAmnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NnSbAmnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NnSbAmntSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NnSbAmntSC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NbSbAmntFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbSbAmntFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExepAmnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExepAmnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExepAmntSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExepAmntSC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExepAmntFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExepAmntFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VatDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VatDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorrExt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorrExt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorrInv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorrInv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NCorrInv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NCorrInv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEECFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEECFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseAmnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseAmnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseAmntSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseAmntSC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseAmntFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseAmntFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CtlAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CtlAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPLId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPLId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPLName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPLName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VATRegNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VATRegNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TxInvRptNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TxInvRptNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TxInvRptDt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TxInvRptDt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KVVATCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KVVATCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WTDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WTDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SumAbsId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SumAbsId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SumRptDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SumRptDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PIndicator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PIndicator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManualNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManualNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UseShpdGd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UseShpdGd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseVtAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseVtAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseVtAtSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseVtAtSC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseVtAtFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseVtAtFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NnSbVAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NnSbVAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NnSbVAtSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NnSbVAtSC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NbSbVAtFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbSbVAtFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExptVAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExptVAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExptVAtSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExptVAtSC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExptVAtFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExptVAtFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LYPmtAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LYPmtAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LYPmtAtSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LYPmtAtSC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LYPmtAtFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LYPmtAtFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpAnSum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpAnSum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpAnSys)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpAnSys)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpAnFrgn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpAnFrgn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocSubType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocSubType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DpmStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DpmStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DpmAmnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DpmAmnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DpmAmntSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DpmAmntSC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DpmAmntFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DpmAmntFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DpmDrawn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DpmDrawn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DpmPrcnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DpmPrcnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidSum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidSum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidSumFc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidSumFc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidSumSc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidSumSc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FolioPref)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FolioPref)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FolioNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FolioNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DpmAppl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DpmAppl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DpmApplFc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DpmApplFc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DpmApplSc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DpmApplSc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LPgFolioN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LPgFolioN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Header)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Header)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Footer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Footer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Posted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Posted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPChCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPChCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPChCntc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPChCntc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayToCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayToCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPaytoBnk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPaytoBnk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BnkCntry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BnkCntry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BnkAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BnkAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BnkBranch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BnkBranch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isIns)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isIns)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrackNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrackNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VersionNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VersionNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LangCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LangCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPNameOW)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPNameOW)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillToOW)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillToOW)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipToOW)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipToOW)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RetInvoice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RetInvoice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClsDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClsDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MInvNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MInvNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MInvDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MInvDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeqCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeqCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Serial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeriesStr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeriesStr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubStr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubStr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxOnExp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxOnExp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxOnExpFc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxOnExpFc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxOnExpSc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxOnExpSc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxOnExAp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxOnExAp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxOnExApF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxOnExApF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxOnExApS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxOnExApS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastPmnTyp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastPmnTyp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LndCstNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LndCstNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UseCorrVat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UseCorrVat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlkCredMmo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlkCredMmo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenForLaC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenForLaC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Excised)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Excised)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExcRefDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExcRefDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExcRmvTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExcRmvTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SrvGpPrcnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SrvGpPrcnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepositNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepositNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CertNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CertNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DutyStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DutyStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutoCrtFlw)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutoCrtFlw)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlwRefDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlwRefDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlwRefNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlwRefNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VatJENum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VatJENum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DpmVat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DpmVat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DpmVatFc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DpmVatFc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DpmVatSc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DpmVatSc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DpmAppVat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DpmAppVat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DpmAppVatF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DpmAppVatF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DpmAppVatS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DpmAppVatS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsurOp347)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsurOp347)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IgnRelDoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IgnRelDoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuildDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResidenNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidenNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Checker)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Checker)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CopyNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CopyNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSIExmpt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSIExmpt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PQTGrpSer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PQTGrpSer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PQTGrpNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PQTGrpNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PQTGrpHW)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PQTGrpHW)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReopOriDoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReopOriDoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReopManCls)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReopManCls)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocManClsd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocManClsd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClosingOpt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClosingOpt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ordered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ordered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NTSApprov)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NTSApprov)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NTSWebSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NTSWebSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NTSeTaxNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NTSeTaxNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NTSApprNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NTSApprNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayDuMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayDuMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtraMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtraMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtraDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtraDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CdcOffset)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CdcOffset)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SignMsg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignMsg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SignDigest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignDigest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CertifNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CertifNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KeyVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KeyVersion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDocGenTyp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDocGenTyp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESeries)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESeries)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDocNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDocNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDocExpFrm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDocExpFrm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnlineQuo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnlineQuo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POSEqNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POSEqNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POSManufSN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POSManufSN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POSCashN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POSCashN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDocStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDocStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDocCntnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDocCntnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDocProces)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDocProces)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDocErrCod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDocErrCod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDocErrMsg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDocErrMsg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDocCancel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDocCancel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDocTest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDocTest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDocPrefix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDocPrefix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CIG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CIG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DpmAsDscnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DpmAsDscnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attachment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attachment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AtcEntry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AtcEntry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GTSRlvnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GTSRlvnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseDisc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseDisc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseDiscSc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseDiscSc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseDiscFc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseDiscFc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseDiscPr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseDiscPr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateTS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SrvTaxRule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SrvTaxRule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnInvDecR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnInvDecR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Releaser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Releaser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receiver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receiver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToWhsCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToWhsCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Requester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Requester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReqName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReqName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Branch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notify)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notify)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReqType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReqType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsReuseNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsReuseNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsReuseNFN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsReuseNFN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocDlvry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocDlvry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidDpm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidDpm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidDpmF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidDpmF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidDpmS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidDpmS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnvTypeNFe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnvTypeNFe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgrNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgrNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAlt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAlt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AltBaseTyp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AltBaseTyp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AltBaseEnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AltBaseEnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StDlvDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StDlvDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StDlvTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StDlvTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDlvDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDlvDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDlvTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDlvTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VclPlate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VclPlate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElCoStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElCoStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AtDocType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AtDocType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElCoMsg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElCoMsg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrintSEPA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintSEPA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FreeChrg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreeChrg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FreeChrgFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreeChrgFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FreeChrgSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreeChrgSC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NfeValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NfeValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FiscDocNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FiscDocNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RelatedTyp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelatedTyp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RelatedEnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelatedEnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CCDEntry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CCDEntry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NfePrntFo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NfePrntFo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZrdAbs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZrdAbs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POSRcptNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POSRcptNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoCTax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoCTax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoCTaxFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoCTaxFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoCTaxSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoCTaxSC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TpCusPres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TpCusPres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExcDocDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExcDocDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoCFrght)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoCFrght)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoCFrghtFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoCFrghtFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoCFrghtSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoCFrghtSC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterimTyp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterimTyp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PTICode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PTICode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Letter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Letter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FolNumFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FolNumFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FolNumTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FolNumTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FolSeries)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FolSeries)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SplitTax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SplitTax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SplitTaxFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SplitTaxFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SplitTaxSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SplitTaxSC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToBinCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToBinCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceMode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceMode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoDropPrss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoDropPrss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermitNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermitNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MYFtype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MYFtype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocTaxID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocTaxID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateReport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateReport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepSection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepSection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExclTaxRep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExclTaxRep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PosCashReg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PosCashReg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DmpTransID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DmpTransID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ECommerBP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ECommerBP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EComerGSTN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EComerGSTN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Revision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Revision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevRefNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevRefNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevRefDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevRefDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevCreRefN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevCreRefN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevCreRefD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevCreRefD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxInvNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxInvNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrmBpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrmBpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GSTTranTyp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GSTTranTyp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseEntry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseEntry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComTrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComTrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UseBilAddr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UseBilAddr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssReason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComTradeRt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComTradeRt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SplitPmnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SplitPmnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOIWizId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOIWizId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelfPosted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelfPosted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnBnkAcct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnBnkAcct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EncryptIV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EncryptIV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DPPStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DPPStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EWBGenType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EWBGenType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SAPPassprt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SAPPassprt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CtActTax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CtActTax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CtActTaxFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CtActTaxFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CtActTaxSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CtActTaxSC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDocType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDocType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_ORN_NCON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_ORN_NCON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_ORN_PRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_ORN_PRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_ORN_SERI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_ORN_SERI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_ORN_TRAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_ORN_TRAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_ORN_FAFE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_ORN_FAFE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_ORN_COMP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_ORN_COMP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_ORN_CISLR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_ORN_CISLR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_ORN_COMPDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_ORN_COMPDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_ORN_FISLR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_ORN_FISLR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_ORN_COMPCONTDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_ORN_COMPCONTDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_ORN_FCISLR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_ORN_FCISLR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_ORN_RZ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_ORN_RZ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_ORN_SerialIF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_ORN_SerialIF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_ORN_CerISLR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_ORN_CerISLR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_ORN_Retiro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_ORN_Retiro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_ORN_TDOC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_ORN_TDOC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_ORN_NIMP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_ORN_NIMP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_ORN_NumExp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_ORN_NumExp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_ORN_FacImp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_ORN_FacImp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_FecFacAfe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_FecFacAfe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_MontoFacAfe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_MontoFacAfe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_NumControlFacAfe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_NumControlFacAfe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_ORN_UPDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_ORN_UPDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_ORN_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_ORN_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_ORN_CODCAJA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_ORN_CODCAJA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_ORN_CODDPTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_ORN_CODDPTO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DocEntry }) |
    @Html.ActionLink("Back to List", "Index")
</p>
